* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  list-style-type: none;
  list-style: none;
  color: var(--fg);
}

:root {
  --bg: #333;
  --fg: white;
  --hamburger-bg: rgba(0, 0, 0, 0.6);
  --button-fg: black;
  --input-fg: black;
}

body.light {
  --bg: #cdcdcd;
  --fg: #222;
  --hamburger-bg: rgba(255, 255, 255, 0.5);
  --button-fg: black;
  --input-fg: black;
}

body {
  background-color: var(--bg);
  transition: all 0.3s ease-in;
}

@keyframes bodyExitAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bodyEnterAnimation {
  0% {
    transform: translateY(-100vw);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

nav {
  height: 75px;
  width: 100%;
  background-color: rgba(7, 101, 32, 0.7);
  color: var(--fg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100000;
}

nav #menuBtn {
  padding: 8px;
  background: rgba(0, 0, 0, 0.3);
  color: var(--fg);
  border-radius: 50%;
  cursor: pointer;
  z-index: 10000;
  transition: background 0.5s ease-in;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

nav #menuBtn.active {
  background-color: white;
  color: var(--button-fg);
}

#hamburgermenu {
  width: 300px;
  padding: 20px;
  background: var(--hamburger-bg);
  color: var(--fg);
  backdrop-filter: blur(5px);
  height: 100vh;
  padding-top: 100px;
  z-index: 1000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}

#hamburgermenu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#hamburgermenu button {
  color: var(--fg);
  padding: 6px 12px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

#hamburgermenu.visible {
  display: block;
  animation-name: hamburger-open;
  animation-duration: 1s;
}

@keyframes hamburger-open {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes hamburger-close {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300px);
  }
}

main {
  padding: 48px;
}

@media (max-width: 768px) {
  main {
    padding: 20px;
  }
}
